* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: "Quicksand";
    background-color: whitesmoke;
}

/*Elements généraux de formatage*/
h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

h2 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.element_en_gras {
    font-weight: bolder;
}

.element_en_italique{
    font-style: italic;
}

.image{
    width: 6%;
}

#kawi_block{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
}

#les_aventures_de_kawi_index{
    width=10%;
    height: auto;
    padding-right: 15%;
    padding-left: 8%;
}
#les_aventures_de_kawi_projet{
    
}

/*Menu en haut de page*/
.menu_haut_de_page {
    display: flex;
    align-content: space-between;
    font-weight: bolder;
    background-color: #54270A;
    padding-left: none;
    padding-right: none;
    height: 40px;
}

.element_du_menu{
    color : whitesmoke;
}
/* Mise en forme de blocks spécifiques répétitifs*/

.happy_unhappy{
    display:flex;
}

/*Différents blocs de l'index html par ordre décroissant*/

.sommaire{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.presentation{
    padding-left: 10%;
    padding-right: 10%;
}

.mon_parcours{
    padding-left: 10%;
    padding-right: 10%;
}

.experiences_detaillees{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.mes_recommandation {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.contactez_moi{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
